body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://images.unsplash.com/photo-1590907047706-ee9c08cf3189?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=60");
  background-size: cover;
  color: white;
}
